doctype html
html(lang="en")
    head
        title SMART EHI Export Server - Select Patient and Login
        link(rel="stylesheet", href="/style.css")
    body
        #main
            h1.header
                img(src="/logo.svg" align="left")
                | EHI Export Server

            h2.center Patient Login
            hr
            - const action = query.action || "/auth/authorize"
            form(action=action autocomplete="off")
                each param, key in query
                    input(type="hidden" name=key value=param)
                br
                label(for="_patient") Patient
                if (query._patient)
                    - const patient = patients.find(p => p.id === query._patient)
                    - const prefix  = patient.name[0]?.prefix?.[0]
                    - const given   = patient.name[0]?.given?.[0]
                    - const family  = patient.name[0]?.family
                    - const name    = [prefix, given, family].filter(Boolean).join(" ")
                    input#_patient(name="_patient" type="hidden" value=patient.id)
                    br
                    span=name
                    span.text-muted=` (DOB: ${patient.birthDate})`
                    br
                else 
                    select#_patient(name="_patient" style={ width: "100%"})
                        each patient, index in patients.sort(()=> Math.random() - 0.5)
                            - const prefix = patient.name[0]?.prefix?.[0]
                            - const given  = patient.name[0]?.given?.[0]
                            - const family = patient.name[0]?.family
                            - const name = [prefix, given, family].filter(Boolean).join(" ")
                            option(value=patient.id) #{name} (DOB: #{patient.birthDate})
                    p.text-muted Any patient can be used for demo purposes
                br
                label(for="_password") Password
                input#_password(type="password" value="whatever" style={ width: "100%" } autocomplete="off")
                p.text-muted Any password will be accepted for demo purposes
                br
                hr
                br
                .center
                    button(type="submit" autofocus) Login